body{
	background: #733;
	font-family: arial;
}

bold{
	font-weight:bold;
}

h2{
	margin: 10px;
	color: #533;
}

.uhr {
	-moz-border-radius: 40px;
        -webkit-border-radius: 40px;
	vertical-align: center;
	horizontal-alin: center;
	border: 5px solid black;
	background-color: #fc9;
	width: 120px;
	height: 37px;
	font-size: 15px; 
	text-align: center;
	padding: 3px 0px;
}

.Weather, .Trafic, .Schedule, .Board{
	width:47%;
	background: #555;
	padding: 5px;
	margin: 10px;
}

th{
	backgroun: white;
	margin-right: 8px;
	margin-left: 8px;
	font-size: 20px;
}

td{
	width: 23%;
	margin: 5px 5px;
	text-align: left;
	font-size: 15px;
	text-align: left;
}

table{
	width:97%;
	background-color: #d1d3d3;
	border-collapse: collapse;
	border: 50px bold;
	margin:10px;
}

.table-title{
	height: 30px;
	background: #333;
}

.table-day{
	background: #555;
}

.Schedule{
	float: left;

}

.botext{
	position: absolute;
	top: 600px;
        margin: 5px;
	height:200px;
        width:200px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        background: #ccc;


}

.currentd{
	background: #aaa;
}

big{
	display: inline-block;
	vertical-align: middle;
}

.Trafic{
	float:left;
}

.Trafic ul{
	text-align: right;
	margin-left: auto;
	margin-rigt: 20px;
	padding-left: auto;
	padding-right: 20px;
	display: inline-table;
	list-style-type: none;
}

.Weather{
	float: right;
}

.Weather div, .Trafic div, .Schedule div , .Board div{
	background:#777;
	margin: 10px;
	padding: 1px 0px 1px 10px;
}

.Weather ul{
	padding-top: 1px;
	margin-top: 0px;
}

.City_Name{
	
}

.Current_Weather{
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.Forecast{
	padding: 5px;
}

.Forecast div{
	width: 24%;
	font-size: 10px;
	display: inline-block;
	background: #444;
	margin: 2px;
	padding: 0px;
}
.Forecast img{
	height:30px;
	width:30px;
}

.Forecast div div{
	width: 85%;
	color: black;
	background:#999;
	list-style-type: none;
	display: inline-block;
	margin: 5px;
	padding: 5px 5px 0px 5px;
        font-family: "Comic Sans MS", cursive, sans-serif;
}

.Temp{
	font-size:18px;
	color: white;
	display: inline-block;
	margin: 1px 10px 0px 0px;
	float: right;	
}

.Board{
	float: right;
	height: 250px;
}

.TXT{
	height: 91%;
	font-size: 15px;
	list-style-type: none;
}
